<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The best gallery ever!</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="container">
            <div id="arrowholderleft">
                <a class="arrow" href="https://www.youtube.com/watch?v=JZqvuBxEDnw" target="blank">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC45MDYiIGhlaWdodD0iMjIuNzUiIHZpZXdCb3g9IjAgMCAxNC45MDYgMjIuNzUiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICM0ZTRlNGU7CiAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8cGF0aCBpZD0iU2hhcGVfM19jb3B5IiBkYXRhLW5hbWU9IlNoYXBlIDMgY29weSIgY2xhc3M9ImNscy0xIiBkPSJNMTI5LjAxLDMxMS4xMDdhMi40NSwyLjQ1LDAsMCwxLTMuNTM2LDBMMTE0Ljg2OCwzMDAuNWwxMC42MDYtMTAuNjA3YTIuNSwyLjUsMCwxLDEsMy41MzYsMy41MzZsLTcuMDcxLDcuMDcxLDcuMDcxLDcuMDcxQTIuNDQ5LDIuNDQ5LDAsMCwxLDEyOS4wMSwzMTEuMTA3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNC44NzUgLTI4OS4xMjUpIi8+Cjwvc3ZnPgo=">
                </a>
            </div>
            <div id="picture">
                <div class="bigimage" style="background-image: urL('https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497&w=678&h=381')">
                    <div class="text-holder">
                        <h3 class="title">
                            <%=person%>
                        </h3>
                        <p class="description">Vestibulum pharetra orci eget scelerisque fringilla. Suspendisse scelerisque nec elit eu consequat. Proin quam libero, accumsan in varius eget, interdum id nibh. Integer lectus erat, imperdiet in sagittis non.</p>
                    </div>
                </div>
            </div>
            <div id="arrowholderright">
                <a class="arrow" href="https://www.youtube.com/watch?v=JZqvuBxEDnw" target="blank">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC45MDYiIGhlaWdodD0iMjIuNzUiIHZpZXdCb3g9IjAgMCAxNC45MDYgMjIuNzUiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICM0ZTRlNGU7CiAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8cGF0aCBpZD0iU2hhcGVfM19jb3B5IiBkYXRhLW5hbWU9IlNoYXBlIDMgY29weSIgY2xhc3M9ImNscy0xIiBkPSJNMTI5LjAxLDMxMS4xMDdhMi40NSwyLjQ1LDAsMCwxLTMuNTM2LDBMMTE0Ljg2OCwzMDAuNWwxMC42MDYtMTAuNjA3YTIuNSwyLjUsMCwxLDEsMy41MzYsMy41MzZsLTcuMDcxLDcuMDcxLDcuMDcxLDcuMDcxQTIuNDQ5LDIuNDQ5LDAsMCwxLDEyOS4wMSwzMTEuMTA3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNC44NzUgLTI4OS4xMjUpIi8+Cjwvc3ZnPgo=">
                </a>
            </div>
        </div>
        <div id="thumbnails">
            <ul>
                <li>
                    <div class="thumbholder">
                        <img class="thumbimage" src="https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497&w=678&h=381">
                    </div>
                </li>
                <li>
                    <div class="thumbholder active">
                        <img class="thumbimage" src="https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497&w=678&h=381">
                    </div>
                </li>
                <li>
                    <div class="thumbholder">
                        <img class="thumbimage" src="https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497&w=678&h=381">
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>